:root {
	--color-gray: hsl(0, 0%, 25%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: sans-serif;
}

.body {
	background: rgb(0, 0, 0);
}

.post-add {
	margin: 20px auto 0;
	max-width: 600px;
	display: flex;
	justify-content: center;
}

.post-add__btn {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	padding: 1em;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	background-color: hsl(204, 79%, 47%);
	color: #fff;
	transition: background-color .2s;
}

.post-add__btn:hover {
	background-color: hsl(204, 79%, 44%);
}

.loader {
	--ring-width: 4px;
	background: transparent;
	width: 54px;
	height: 54px;
	border-top: var(--ring-width) solid rgba(255, 255, 255, 0.3);
	border-right: var(--ring-width) solid rgba(255, 255, 255, 0.3);
	border-bottom: var(--ring-width) solid rgba(255, 255, 255, 0.3);
	border-left: var(--ring-width) solid #fff;
	border-radius: 50%;
	animation: spin 1s ease infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.cards {
	margin: 0 auto;
	padding: 20px 0;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.cards__loader {
	margin: 0 auto;
}

.card {
	display: flex;
	gap: 10px;
	padding: 10px;
	border: 1px solid var(--color-gray);
	border-radius: 10px;
	color: #fff;
}

/* .card__author-avatar {} */

.card__author-avatar div {
	width: 48px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background: center / cover url('https://rightinsightdubai.com/wp-content/uploads/2016/08/img_placeholder_avatar.jpg') no-repeat;
}

.card__content {
	flex: 1;
}

.card__header {
	display: flex;
	align-items: center;
}

.card__author {
	display: flex;
	gap: 5px;
	align-items: end;
}

.card__author-name {
	font-weight: bold;
}

.card__author-email {
	font-size: .9375rem;
	color: hsl(0, 0%, 60%);
	transition: color .2s;
}

.card__author-email:hover {
	color: hsl(0, 0%, 70%);
}

.card__header-btns {
	margin-left: auto;
}

.card__body {
	margin-top: 2px;
}

.card__title {
	font-size: 1rem;
}

.card__text {
	margin-top: 5px;
}

/* Buttons */

.card__btn {
	padding: 7px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color .2s;
}

.card__btn svg {
	width: 100%;
	height: 100%;
	color: hsl(0, 0%, 80%);
	transition: color .2s;
}

.card__btn:hover {
	background-color: hsl(0, 0%, 60%, .1);
}

.card__btn:hover svg {
	color: hsl(0, 0%, 90%);
}

.card__btn--delete:hover {
	background-color: hsl(0, 62%, 49%, .1);
}

.card__btn--delete:hover svg {
	color: hsl(0, 62%, 49%);
}

.card__btn--edit:hover {
	background-color: hsl(214, 82%, 63%, .1);
}

.card__btn--edit:hover svg {
	color: hsl(214, 82%, 63%);
}

/* Modal */

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	overflow: auto;
	z-index: 1;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 100%, 0.08);
}

.modal__content {
	padding: 20px;
	width: 60%;
	border-radius: 20px;
	background-color: hsl(0, 0%, 25%);
}

.modal__content h2 {
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}

.modal__form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal__label {
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: #fff;
	font-weight: bold;
}

.modal__input {
	border-radius: 20px;
	background-color: transparent;
	border: 1px solid rgb(160, 160, 160);
	padding: 10px 20px;
	color: #fff;
	font-size: 20px;
}

.modal__input:focus {
	outline: none;
	border: 1px solid rgb(139, 139, 139);
}

.modal__buttons {
	display: flex;
	justify-content: end;
	gap: 15px;
}

.modal__button {
	border-radius: 15px;
	padding: 10px 15px;
	background-color: hsl(0, 0%, 45%);
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 17px;
	transition: background-color .2s;
}

.modal__button--submit {
	background-color: hsl(204, 79%, 47%);
}

.modal__button--submit:hover {
	background-color: hsl(204, 79%, 44%);
}

.modal__button--cancel {
	background-color: hsl(0, 79%, 44%);
}

.modal__button--cancel:hover {
	background-color: hsl(0, 79%, 40%);
}